.unioutput {
    border: 1px solid black;
    height: 20px;
    width: 200px;
    margin: 20px 0 0 25px;
}

.desc {
    margin: 20px 0 0 25px;
}

#passcheck {
    scroll-behavior: smooth;
}