body {
    height: 97vh;
}

.name {
    font-weight: 500;
    font-size: 25px;
}

.counter {
    height: 97vh;
    display: flex;
    background-color: #d2c8c8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.create-value {
    display: flex;
    justify-content: center;
    width: 70vw;
    row-gap: 20xp;
}

button {
    margin: 0 20px 0 20px;
}